<?xml version="1.0" encoding="utf-8"?><!-- Copyright 2024, Christopher Banes and the Tivi project contributors -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>

    <receiver
      android:name="app.tivi.core.notifications.PostNotificationBroadcastReceiver"
      android:exported="false" />

  </application>

</manifest>
