*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build
captures
.externalNativeBuild

# Do not commit plain release keys
signing/app-release.jks
signing/play-account.p12
