<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2024, Christopher Banes and the Tivi project contributors -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application>

    <receiver
      android:name="app.tivi.tasks.BootBroadcastReceiver"
      android:directBootAware="true"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
        <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
