[versions]
agp = "7.3.1"
accompanist = "0.28.0"
androidxlifecycle = "2.6.0-alpha03"
chucker = "3.5.2"
coil = "2.2.2"
compose-bom = "2022.12.00"
composecompiler = "1.4.0-alpha02"
coroutines = "1.6.4"
dagger = "2.44.2"
debugdrawer = "0.9.8"
kotlin = "1.7.22"
ktlint = "0.47.1"
okhttp = "4.10.0"
paging = "3.1.1"
retrofit = "2.9.0"
room = "2.4.3"
threetenbp = "1.6.2"
compileSdk = "33"
minSdk = "23"
targetSdk = "31"

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
android-lint = { id = "com.android.lint", version.ref = "agp" }
android-test = { id = "com.android.test", version.ref = "agp" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }
ksp = "com.google.devtools.ksp:1.7.22-1.0.8"
hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
gms-googleServices = "com.google.gms.google-services:4.3.14"
firebase-crashlytics = "com.google.firebase.crashlytics:2.9.2"
spotless = "com.diffplug.spotless:6.11.0"

[libraries]
accompanist-flowlayout = { module = "com.google.accompanist:accompanist-flowlayout", version.ref = "accompanist" }
accompanist-navigation-animation = { module = "com.google.accompanist:accompanist-navigation-animation", version.ref = "accompanist" }
accompanist-navigation-material = { module = "com.google.accompanist:accompanist-navigation-material", version.ref = "accompanist" }
accompanist-pager-pager = { module = "com.google.accompanist:accompanist-pager", version.ref = "accompanist" }
accompanist-pager-indicators = { module = "com.google.accompanist:accompanist-pager-indicators", version.ref = "accompanist" }

snapper = "dev.chrisbanes.snapper:snapper:0.3.0"

androidx-activity-compose = "androidx.activity:activity-compose:1.6.1"
androidx-archCoreTesting = "androidx.arch.core:core-testing:2.1.0"
androidx-browser = "androidx.browser:browser:1.4.0"
androidx-collection = "androidx.collection:collection-ktx:1.2.0"
androidx-core = "androidx.core:core-ktx:1.9.0"
androidx-emoji = "androidx.emoji:emoji:1.1.0"

androidx-lifecycle-runtime-ktx = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidxlifecycle" }
androidx-lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "androidxlifecycle" }
androidx-lifecycle-viewmodel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "androidxlifecycle" }
androidx-lifecycle-viewmodel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidxlifecycle" }

androidx-navigation-compose = "androidx.navigation:navigation-compose:2.5.3"

androidx-paging-common = { module = "androidx.paging:paging-common-ktx", version.ref = "paging" }
androidx-paging-runtime = { module = "androidx.paging:paging-runtime-ktx", version.ref = "paging" }
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha17"

androidx-palette = "androidx.palette:palette:1.0.0"

androidx-profileinstaller = "androidx.profileinstaller:profileinstaller:1.2.1"

androidx-room-common = { module = "androidx.room:room-common", version.ref = "room" }
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx-room-paging = { module = "androidx.room:room-paging", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-testing = { module = "androidx.room:room-testing", version.ref = "room" }

androidx-test-core = "androidx.test:core-ktx:1.5.0"
androidx-test-junit = "androidx.test.ext:junit-ktx:1.1.4"
androidx-test-rules = "androidx.test:rules:1.5.0"
androidx-test-runner = "androidx.test:runner:1.5.1"
androidx-benchmark-macro = "androidx.benchmark:benchmark-macro-junit4:1.1.1"
androidx-uiautomator = "androidx.test.uiautomator:uiautomator:2.2.0"

androidx-work-runtime = "androidx.work:work-runtime-ktx:2.7.1"

appauth = "net.openid:appauth:0.8.1"

chucker-library = { module = "com.github.chuckerteam.chucker:library", version.ref = "chucker" }

coil-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil" }

compose-bom = { module = "androidx.compose:compose-bom", version.ref = "compose-bom" }
compose-animation-animation = { module = "androidx.compose.animation:animation" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout" }
compose-material-iconsext = { module = "androidx.compose.material:material-icons-extended" }
compose-material-material = { module = "androidx.compose.material:material" }
compose-material3 = { module = "androidx.compose.material3:material3" }
compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
compose-ui-ui = { module = "androidx.compose.ui:ui" }
compose-ui-uitextfonts = { module = "androidx.compose.ui:ui-text-google-fonts" }
compose-ui-util = { module = "androidx.compose.ui:ui-util" }
compose-ui-viewbinding = { module = "androidx.compose.ui:ui-viewbinding" }

dagger-compiler = { module = "com.google.dagger:dagger-compiler", version.ref = "dagger" }
dagger-dagger = { module = "com.google.dagger:dagger", version.ref = "dagger" }

google-analytics = "com.google.firebase:firebase-analytics-ktx:21.2.0"
google-crashlytics = "com.google.firebase:firebase-crashlytics-ktx:18.3.2"

debugdrawer-debugdrawer = { module = "au.com.gridstone.debugdrawer:debugdrawer", version.ref = "debugdrawer" }
debugdrawer-retrofit = { module = "au.com.gridstone.debugdrawer:debugdrawer-retrofit", version.ref = "debugdrawer" }
debugdrawer-timber = { module = "au.com.gridstone.debugdrawer:debugdrawer-timber", version.ref = "debugdrawer" }
debugdrawer-okhttplogger = { module = "au.com.gridstone.debugdrawer:debugdrawer-okhttp-logger", version.ref = "debugdrawer" }

hilt-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "dagger" }
hilt-library = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
hilt-compose = "androidx.hilt:hilt-navigation-compose:1.0.0"
hilt-work = "androidx.hilt:hilt-work:1.0.0"
hilt-testing = { module = "com.google.dagger:hilt-android-testing", version.ref = "dagger" }

junit = "junit:junit:4.13.2"

kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }
kotlin-extensions = { module = "org.jetbrains.kotlin:kotlin-android-extensions", version.ref = "kotlin" }

leakCanary = "com.squareup.leakcanary:leakcanary-android:2.10"

mockK = "io.mockk:mockk:1.13.3"

okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okhttp-okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }

retrofit-gsonConverter = { module = "com.squareup.retrofit2:converter-gson", version.ref = "retrofit" }
retrofit-retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-mock = { module = "com.squareup.retrofit2:retrofit-mock", version.ref = "retrofit" }

robolectric = "org.robolectric:robolectric:4.9"

store = "com.dropbox.mobile.store:store4:4.0.5"

threeTenAbp = "com.jakewharton.threetenabp:threetenabp:1.4.4"

timber = "com.jakewharton.timber:timber:5.0.1"

tmdbJava = "com.uwetrottmann.tmdb2:tmdb-java:2.8.1"

traktJava = "com.uwetrottmann.trakt5:trakt-java:6.11.2"

truth = "com.google.truth:truth:1.1.3"
