[versions]
accompanist = "0.7.2-SNAPSHOT"
androidxhilt = "1.0.0-beta01"
androidxlifecycle = "2.3.0"
androidxtest = "1.2.0"
coil = "1.1.1"
compose = "1.0.0-beta04"
composesnapshot = "-" # a single character = no snapshot
coroutines = "1.4.3"
dagger = "2.33"
hilt = "2.33-beta"
kotlin = "1.4.32"
ktlint = "0.40.0"
okhttp = "4.9.1"
paging = "3.0.0-beta02"
retrofit = "2.9.0"
room = "2.3.0-beta03"
roomigrant = "92ac4a5b71"
threetenbp = "1.5.0"

[libraries]
accompanist-coil = { module = "com.google.accompanist:accompanist-coil", version.ref = "accompanist" }
accompanist-flowlayout = { module = "com.google.accompanist:accompanist-flowlayout", version.ref = "accompanist" }
accompanist-insets = { module = "com.google.accompanist:accompanist-insets", version.ref = "accompanist" }
accompanist-swiperefresh = { module = "com.google.accompanist:accompanist-swiperefresh", version.ref = "accompanist" }

android-gradlePlugin = "com.android.tools.build:gradle:7.0.0-alpha14"

androidx-activity-compose = "androidx.activity:activity-compose:1.3.0-alpha06"
androidx-appcompat = "androidx.appcompat:appcompat:1.3.0-rc01"
androidx-archCoreTesting = "androidx.arch.core:core-testing:2.1.0"
androidx-browser = "androidx.browser:browser:1.3.0"
androidx-collection = "androidx.collection:collection-ktx:1.1.0"
androidx-core = "androidx.core:core-ktx:1.5.0-beta03"
androidx-dynamicanimation = "androidx.dynamicanimation:dynamicanimation-ktx:1.0.0-alpha03"
androidx-emoji = "androidx.emoji:emoji:1.1.0"
androidx-fragment = "androidx.fragment:fragment-ktx:1.3.0"

androidx-hilt-compiler = { module = "androidx.hilt:hilt-compiler", version.ref = "androidxhilt" }
androidx-hilt-compose = "androidx.hilt:hilt-navigation-compose:1.0.0-alpha01"
androidx-hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "androidxhilt" }

androidx-lifecycle-runtime = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidxlifecycle" }
androidx-lifecycle-viewmodel-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:1.0.0-alpha04"
androidx-lifecycle-viewmodel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidxlifecycle" }

androidx-navigation-compose = "androidx.navigation:navigation-compose:1.0.0-alpha10"

androidx-paging-common = { module = "androidx.paging:paging-common-ktx", version.ref = "paging" }
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha08"
androidx-paging-runtime = { module = "androidx.paging:paging-runtime-ktx", version.ref = "paging" }

androidx-palette = "androidx.palette:palette:1.0.0"

androidx-room-common = { module = "androidx.room:room-common", version.ref = "room" }
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-testing = { module = "androidx.room:room-testing", version.ref = "room" }

androidx-test-core = { module = "androidx.test:core", version.ref = "androidxtest" }
androidx-test-junit = "androidx.test.ext:junit-ktx:1.1.2"
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidxtest" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidxtest" }

androidx-work-runtime = "androidx.work:work-runtime-ktx:2.5.0"

appauth = "net.openid:appauth:0.8.1"

coil-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil" }

compose-animation-animation = { module = "androidx.compose.animation:animation", version.ref = "compose" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "compose" }
compose-material-iconsext = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-material-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
compose-ui-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-util = { module = "androidx.compose.ui:ui-util", version.ref = "compose" }
compose-ui-viewbinding = { module = "androidx.compose.ui:ui-viewbinding", version.ref = "compose" }

dagger-compiler = { module = "com.google.dagger:dagger-compiler", version.ref = "dagger" }
dagger-dagger = { module = "com.google.dagger:dagger", version.ref = "dagger" }

dokka = "org.jetbrains.dokka:dokka-gradle-plugin:1.4.30"

google-analytics = "com.google.firebase:firebase-analytics-ktx:18.0.2"
google-crashlytics = "com.google.firebase:firebase-crashlytics-ktx:17.4.0"
google-crashlyticsGradle = "com.google.firebase:firebase-crashlytics-gradle:2.5.1"
google-gmsGoogleServices = "com.google.gms:google-services:4.3.5"

hilt-compiler = { module = "com.google.dagger:hilt-android-compiler", version.ref = "hilt" }
hilt-gradlePlugin = { module = "com.google.dagger:hilt-android-gradle-plugin", version.ref = "hilt" }
hilt-library = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
hilt-testing = { module = "com.google.dagger:hilt-android-testing", version.ref = "hilt" }

junit = "junit:junit:4.13"

kotlin-binaryCompatibility = "org.jetbrains.kotlinx:binary-compatibility-validator:0.3.0"
kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }
kotlin-extensions = { module = "org.jetbrains.kotlin:kotlin-android-extensions", version.ref = "kotlin" }
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }

leakCanary = "com.squareup.leakcanary:leakcanary-android:2.6"

mockK = "io.mockk:mockk:1.10.6"

okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okhttp-okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }

retrofit-gsonConverter = { module = "com.squareup.retrofit2:converter-gson", version.ref = "retrofit" }
retrofit-retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }

robolectric = "org.robolectric:robolectric:4.5.1"

roomigrant-compiler = { module = "com.github.chrisbanes.Roomigrant:RoomigrantCompiler", version.ref = "roomigrant" }
roomigrant-library = { module = "com.github.chrisbanes.Roomigrant:RoomigrantLib", version.ref = "roomigrant" }

store = "com.dropbox.mobile.store:store4:4.0.0"

threeTenAbp = "com.jakewharton.threetenabp:threetenabp:1.3.0"

timber = "com.jakewharton.timber:timber:4.7.1"

tmdbJava = "com.uwetrottmann.tmdb2:tmdb-java:2.3.1"

traktJava = "com.uwetrottmann.trakt5:trakt-java:6.9.0"

truth = "com.google.truth:truth:1.1.2"
