[versions]
agp = "8.0.0-beta02"
accompanist = "0.29.0-alpha"
androidxlifecycle = "2.6.0-beta01"
androidxactivity = "1.7.0-beta01"
chucker = "3.5.2"
coil = "2.2.2"
compose-bom = "2023.02.00-beta01"
composecompiler = "1.4.2"
coroutines = "1.6.4"
debugdrawer = "0.9.8"
kotlin = "1.8.10"
kotlininject = "0.6.1"
ktlint = "0.48.1"
okhttp = "4.10.0"
paging = "3.1.1"
retrofit = "2.9.0"
room = "2.5.0"
threetenbp = "1.6.2"
compileSdk = "33"
minSdk = "23"
targetSdk = "31"

[plugins]
android-application = { id = "com.android.application", version.ref = "agp" }
android-library = { id = "com.android.library", version.ref = "agp" }
android-lint = { id = "com.android.lint", version.ref = "agp" }
android-test = { id = "com.android.test", version.ref = "agp" }
cacheFixPlugin = { id = "org.gradle.android.cache-fix", version = "2.6.5" }
kotlin-android = { id = "org.jetbrains.kotlin.android", version.ref = "kotlin" }
kotlin-kapt = { id = "org.jetbrains.kotlin.kapt", version.ref = "kotlin" }
ksp = "com.google.devtools.ksp:1.8.10-1.0.9"
gms-googleServices = "com.google.gms.google-services:4.3.15"
firebase-crashlytics = "com.google.firebase.crashlytics:2.9.4"
spotless = "com.diffplug.spotless:6.15.0"

[libraries]
accompanist-navigation-animation = { module = "com.google.accompanist:accompanist-navigation-animation", version.ref = "accompanist" }
accompanist-navigation-material = { module = "com.google.accompanist:accompanist-navigation-material", version.ref = "accompanist" }

androidx-activity-activity = { module = "androidx.activity:activity", version.ref = "androidxactivity" }
androidx-activity-compose = { module = "androidx.activity:activity-compose", version.ref = "androidxactivity" }
androidx-archCoreTesting = "androidx.arch.core:core-testing:2.1.0"
androidx-browser = "androidx.browser:browser:1.5.0"
androidx-collection = "androidx.collection:collection-ktx:1.2.0"
androidx-core = "androidx.core:core-ktx:1.9.0"
androidx-emoji = "androidx.emoji:emoji:1.1.0"

androidx-lifecycle-runtime-ktx = { module = "androidx.lifecycle:lifecycle-runtime-ktx", version.ref = "androidxlifecycle" }
androidx-lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "androidxlifecycle" }
androidx-lifecycle-viewmodel-compose = { module = "androidx.lifecycle:lifecycle-viewmodel-compose", version.ref = "androidxlifecycle" }
androidx-lifecycle-viewmodel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidxlifecycle" }

androidx-navigation-compose = "androidx.navigation:navigation-compose:2.6.0-alpha05"

cashapp-paging-common = "app.cash.paging:paging-common:3.1.1-0.1.1"
androidx-paging-runtime = { module = "androidx.paging:paging-runtime-ktx", version.ref = "paging" }
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha18"

androidx-palette = "androidx.palette:palette:1.0.0"

androidx-profileinstaller = "androidx.profileinstaller:profileinstaller:1.2.2"

androidx-room-common = { module = "androidx.room:room-common", version.ref = "room" }
androidx-room-compiler = { module = "androidx.room:room-compiler", version.ref = "room" }
androidx-room-ktx = { module = "androidx.room:room-ktx", version.ref = "room" }
androidx-room-paging = { module = "androidx.room:room-paging", version.ref = "room" }
androidx-room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
androidx-room-testing = { module = "androidx.room:room-testing", version.ref = "room" }

androidx-test-core = "androidx.test:core-ktx:1.5.0"
androidx-test-junit = "androidx.test.ext:junit-ktx:1.1.5"
androidx-test-rules = "androidx.test:rules:1.5.0"
androidx-test-runner = "androidx.test:runner:1.5.2"
androidx-benchmark-macro = "androidx.benchmark:benchmark-macro-junit4:1.2.0-alpha09"
androidx-uiautomator = "androidx.test.uiautomator:uiautomator:2.2.0"

androidx-work-runtime = "androidx.work:work-runtime-ktx:2.8.0"

appauth = "net.openid:appauth:0.8.1"

chucker-library = { module = "com.github.chuckerteam.chucker:library", version.ref = "chucker" }

coil-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil" }

compose-bom = { module = "dev.chrisbanes.compose:compose-bom", version.ref = "compose-bom" }
compose-animation-animation = { module = "androidx.compose.animation:animation" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout" }
compose-material-iconsext = { module = "androidx.compose.material:material-icons-extended" }
compose-material-material = { module = "androidx.compose.material:material" }
compose-material3 = { module = "androidx.compose.material3:material3" }
compose-ui-test = { module = "androidx.compose.ui:ui-test-junit4" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling" }
compose-ui-ui = { module = "androidx.compose.ui:ui" }
compose-ui-uitextfonts = { module = "androidx.compose.ui:ui-text-google-fonts" }
compose-ui-util = { module = "androidx.compose.ui:ui-util" }
compose-ui-viewbinding = { module = "androidx.compose.ui:ui-viewbinding" }

google-firebase-analytics = { module = "com.google.firebase:firebase-analytics-ktx" }
google-firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics-ktx" }
google-firebase-bom = "com.google.firebase:firebase-bom:31.2.1"

debugdrawer-debugdrawer = { module = "au.com.gridstone.debugdrawer:debugdrawer", version.ref = "debugdrawer" }
debugdrawer-retrofit = { module = "au.com.gridstone.debugdrawer:debugdrawer-retrofit", version.ref = "debugdrawer" }
debugdrawer-timber = { module = "au.com.gridstone.debugdrawer:debugdrawer-timber", version.ref = "debugdrawer" }
debugdrawer-okhttplogger = { module = "au.com.gridstone.debugdrawer:debugdrawer-okhttp-logger", version.ref = "debugdrawer" }

androidx-hilt-compiler = "androidx.hilt:hilt-compiler:1.0.0"
androidx-hilt-navigationcompose = "androidx.hilt:hilt-navigation-compose:1.0.0"
androidx-hilt-work = "androidx.hilt:hilt-work:1.0.0"

junit = "junit:junit:4.13.2"

kotlinx-atomicfu = "org.jetbrains.kotlinx:atomicfu:0.19.0"
kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }
kotlinx-coroutines-playservices = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-play-services", version.ref = "coroutines" }
kotlin-extensions = { module = "org.jetbrains.kotlin:kotlin-android-extensions", version.ref = "kotlin" }

kotlininject-compiler = { module = "me.tatarka.inject:kotlin-inject-compiler-ksp", version.ref = "kotlininject" }
kotlininject-runtime = { module = "me.tatarka.inject:kotlin-inject-runtime", version.ref = "kotlininject" }

leakCanary = "com.squareup.leakcanary:leakcanary-android:2.10"

mockK = "io.mockk:mockk:1.13.4"

okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
okhttp-okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }

playservices-blockstore = "com.google.android.gms:play-services-auth-blockstore:16.1.0"

retrofit-gsonConverter = { module = "com.squareup.retrofit2:converter-gson", version.ref = "retrofit" }
retrofit-retrofit = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-mock = { module = "com.squareup.retrofit2:retrofit-mock", version.ref = "retrofit" }

robolectric = "org.robolectric:robolectric:4.9.2"

store = "org.mobilenativefoundation.store:store5:5.0.0-alpha03"

threeTenAbp = "com.jakewharton.threetenabp:threetenabp:1.4.4"

timber = "com.jakewharton.timber:timber:5.0.1"

tmdbJava = "com.uwetrottmann.tmdb2:tmdb-java:2.8.1"

traktJava = "com.uwetrottmann.trakt5:trakt-java:6.11.2"

truth = "com.google.truth:truth:1.1.3"
