name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      TERM: dumb
      ORG_GRADLE_PROJECT_TIVI_TMDB_API_KEY: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_TMDB_API_KEY }}
      ORG_GRADLE_PROJECT_TIVI_TVDB_API_KEY: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_TVDB_API_KEY }}
      ORG_GRADLE_PROJECT_TIVI_TRAKT_CLIENT_ID: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_TRAKT_CLIENT_ID }}
      ORG_GRADLE_PROJECT_TIVI_TRAKT_CLIENT_SECRET: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_TRAKT_CLIENT_SECRET }}
      ORG_GRADLE_PROJECT_TIVI_RELEASE_KEYSTORE_PWD: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_RELEASE_KEYSTORE_PWD }}
      ORG_GRADLE_PROJECT_TIVI_RELEASE_KEY_PWD: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_RELEASE_KEY_PWD }}
      ORG_GRADLE_PROJECT_TIVI_PLAY_PUBLISHER_ACCOUNT: ${{ secrets.ORG_GRADLE_PROJECT_TIVI_PLAY_PUBLISHER_ACCOUNT }}

    steps:
      - name: Generate build number
        shell: bash
        run: echo "BUILD_NUMBER=$(( $GITHUB_RUN_NUMBER + 6000 + (($GITHUB_RUN_NUMBER - 980) * 3) ))" >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Decrypt secrets
        run: ./release/decrypt-secrets.sh
        env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - uses: burrunan/gradle-cache-action@v1
        name: Build and check
        env:
          ORG_GRADLE_PROJECT_TIVI_VERSIONCODE: ${{ env.BUILD_NUMBER }}
        with:
          gradle-dependencies-cache-key: |
            gradle/libs.versions.toml
          arguments: |
            spotlessCheck
            assemble
            bundle
            app:lintQaDebug
            testDebug

      - name: Publish QA build to internal track
        if: github.ref == 'refs/heads/main'
        # Pinned version due to https://github.com/r0adkll/upload-google-play/issues/80
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJson: release/play-account.json
          packageName: app.tivi
          track: internal
          releaseFiles: app/build/outputs/bundle/qaRelease/app-qa-release.aab
          mappingFile: app/build/outputs/mapping/qaRelease/mapping.txt

      - name: Publish Release build to alpha track
        if: github.ref == 'refs/heads/main'
        # Pinned version due to https://github.com/r0adkll/upload-google-play/issues/80
        uses: r0adkll/upload-google-play@v1.0.15
        with:
          serviceAccountJson: release/play-account.json
          packageName: app.tivi
          track: alpha
          releaseFiles: app/build/outputs/bundle/standardRelease/app-standard-release.aab
          mappingFile: app/build/outputs/mapping/standardRelease/mapping.txt

      - name: Create release for tags
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          generate_release_notes: true
          files: |
            app/build/outputs/apk/standard/release/app-standard-release.apk

      - name: Clean secrets
        if: always()
        run: ./release/clean-secrets.sh

      - name: Upload build outputs
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: build-outputs
          path: app/build/outputs

      - name: Upload build reports
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: build-reports
          path: app/build/reports

      - name: Copy test results
        if: always()
        run: |
          mkdir -p junit
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} junit/ \;
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v1
        with:
          name: junit-results
          path: junit
